[Desktop Entry]
Encoding=UTF-8
Name=Trustycoin
Comment=Trustycoin P2P Cryptocurrency
Comment[fr]=Trustycoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Trustycoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/trustycoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/trustycoin80.xpm
MimeType=x-scheme-handler/trustycoin;
Categories=Office;
